body {
  background-color: #fff;
  padding: 10px;
  font: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #595959;
  font-weight: 400;
  margin:0
}
