body {
    /* background-color: #fff; */
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 10px;
}

.image.avatar {
    border-radius: 100%;
    overflow: hidden;
}

.image.avatar img {
    border-radius: 100%;
    width: 60%;
}

div span img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 90%;
    margin:0 auto;
}

section {
    width:75%;
    float:right;
    padding-top:4.0em;
    padding-bottom:50px;
  }

header {
    width:20%;
}

email {
    font-size: 100%;
    font-family: "Ubuntu Mono";
}

.outer {
    padding-left: 300px;
}

td {
    vertical-align: middle;
}

h1 {
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 250%;
}

h2 {
    padding-top: 0.8em;
    font-size: 160%;
}

h3 {
    font-size: 110%;
    border-bottom: none;
}

h2 + h3 {
    padding-top: 0.2em;
}

h2, h3 {
    /*color: #a31f34;*/
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

/* footer */
#footer {
    text-align: center;
    border-top: 0;
    color: #c0c0c0;
    overflow: hidden;
    padding-top: 1em;
}

#footer .copyright {
    line-height: 1em;
    list-style: none;
    padding: 0;
}

#footer .copyright li {
    border-left: solid 1px #d4d4d4;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}

.edu-row {
    display: flex; 
    align-items: center;}

@media print, screen and (max-width: 960px) {
    .edu-row {
    display: flex; 
    align-items: center;}
  }

@media print, screen and (max-width: 480px) {

    .edu-row {
      display: block; 
      align-items: center;}
  }